# Build folders
build/
out/
cmake-build-*/

# Visual Studio
.vs/
*.sln
*.vcxproj*
*.user
*.filters
*.obj
*.pdb
*.ilk
*.ipch

# OS junk
.DS_Store
Thumbs.db

*.exe
*.lib
*.dll
*.exp

# Worksheet3 deliverables (do NOT commit)
Worksheet3/**/release_static/
Worksheet3/**/release_dynamic/
Worksheet3/**/*_Static.zip
Worksheet3/**/*_Dynamic.zip
Worksheet5/html/
Worksheet5/html/
Worksheet5/latex/
