name: Deploy Doxygen docs

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Generate docs
        run: |
          cd Worksheet5
          doxygen Doxyfile

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: Worksheet5/html
          force_orphan: true
