name: Deploy Doxygen docs

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Show repo tree
        run: |
          pwd
          ls -la
          ls -la

      - name: Generate docs
        run: |
          cd Worksheet5
          doxygen
          ls -la
          ls -la html

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: Worksheet5/html
          force_orphan: true
